*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.conteiner{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}


header .conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    padding: 16px 0 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 56px;
}

.submenu{
    display: none;
    border: 1px solid red;
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 300px;
    top: 100%;
}

.menu > li{
    float: left;
    list-style: none;
    padding: 16px;
    border-top: 4px solid transparent;
    position: relative;
}

.clear{
    clear: both;
}

.menu li:hover .submenu{
    display: block;
}

.menu li:hover {
    border-color: green;
    align-items: right;
}

.submenu li{
    display: block;
    padding: 8px;
}
.conteudo{
    display: grid;
    grid-template-columns: 70% 30%;
}

.noticias img {
    max-width: 100%;
}

.destaques img{
    width: 400px;
    height: 400px;

}

.destaques{
    margin-bottom: 56px;
}

.destaques .noticias a {
    display: flex;
    font-size: 2em;
}

.destaques .noticias img {
    margin-right: 8px;
}

section h2 {
    margin-bottom: 32px;
    color: rgb(89, 89, 173);
}

aside {
    padding-left: 40px;
}

aside  .noticias{
    margin-bottom:24px;
}

.noticia{
    display: grid;
    grid-template-columns: repeat(4,24.45%);
    column-gap: 1%;
    row-gap: 5%;
}
.destaques h3{
    align-items: center;
}

section button{
   margin-bottom: 16px;    
   background: rgb(23, 216, 110);
   width: 100px;
   border: none;
   cursor: pointer;
   padding: 8px;
   margin-top: 10px;
   
}
hr{
    margin-top: 30px;
    border-color: rgb(0, 162, 255);
    margin-bottom: 30px;
}

.conteiner h1, .menu {
    color: rgb(4, 126, 4);
}


@media screen and (max-width: 767px){
    .conteudo{
        display: block;
    }

    .conteiner {
        max-width: 90%;
    }
    
    .destaques .noticias a {
        display: block;
        font-size: 1.5em;
    }
    
    .destaques .noticias img {
        margin-right: 0;
    }

    .noticia{
        display: block;
    }

    .noticia .noticias{
        margin-bottom: 32px;
    }

    aside {
        padding-left: 0;
    }

    header div.conteiner{
        flex-direction: column;
    }

    .submenu{
        display: block;
        width: 100%;
        position: relative;
        border: none;
    }
    
    .menu{
        display: none;
    }
    .menu > li{
       clear: both;
       /*background-color: #333;*/
    }
    
    .submenu li{
        display: block;
        padding: 8px;
    }

    .botao-menu{
        display: flex;
        justify-content: center;
        margin-top: 16px;
        padding-bottom: 16px;
    }

    .botao-menu button {
        padding: 8px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023){
    .conteiner{
        max-width: 90%;
    }

    .botao-menu {
        display: none;
    }
    
    .destaques .noticias a {
        font-size: 1.5em;
    }

    .noticia{
        grid-template-columns: repeat(2, 49%);
    }
}

@media screen and (min-width:1024px){
    .botao-menu {
        display: none;
    }
}